<div class="container">
  <h4>Edit Farmer</h4>

  <form novalidate="novalidate" class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="inputId">ID:</label>

      <div class="controls">
        <input type="text" id="inputId" ng-model="ctrl.newFarmer.id" placeholder="99"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputName">Name:</label>

      <div class="controls">
        <input type="text" id="inputName" ng-model="ctrl.newFarmer.name" placeholder="Name"/>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <a ng-click="ctrl.cancel()" class="btn btn-small">Cancel</a>
        <a ng-click="ctrl.save()" class="btn btn-small btn-primary">Save Farmer</a>
      </div>
    </div>
  </form>
</div>
