<!DOCTYPE html>
<html data-ng-app="farmerApp">
  <head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- use this CDN in production
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/ag-grid/dist/angularGrid.css">
    <link rel="stylesheet" href="bower_components/ag-grid/dist/theme-fresh.css">
    <link rel="stylesheet" href="bower_components/ag-grid/dist/theme-dark.css">
  </head>
	<body data-ng-controller="FarmerController as server">
<!----------------------------------------------------------------------------->

    <table width="100%">
      <tr>
        <td>
          <div angular-grid="server.gridOptions" 
              class="ag-fresh" style="width: 500px; height: 300px;">
          </div>
        </td>
        <td>
          <div">
            Id: <span>{{server.newFarmer.id}}</span><br />
            Name: <span>{{server.newFarmer.name}}</span><br />
        <div>
        </td>
        <td>
          <form>
            Id: <span>{{server.newFarmer.id}}</span><br />
            Name: <input type="text" ng-model="server.newFarmer.name" /><br />
            <input type="button" ng-click="server.reset()" value="Reset" />
            <input type="button" ng-click="server.save()" 
                value="{{server.isNew? 'POST':'PUT' }}" />
            <span ng-show="server.isNew" style="color: red;">Add Mode!</span><br />
            <input type="button" ng-click="server.remove()" value="DELETE!" />
          <form>
        </td>
      </tr>
    </table>

    


<!----------------------------------------------------------------------------->
    <script src="bower_components/angular/angular.js"></script>
    <!-- use this CDN in production
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    -->
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/ag-grid/dist/angularGrid.js"></script>
    <script src="app/farmer.js"></script>    
  </body>
</html>

